---
import PostTags from "~/components/atoms/Tags.astro";

import { getFormattedDate } from "~/utils/utils";
import Picture from "../core/Picture.astro";
import {getLink} from "~/permalink";

const { data, document } = Astro.props;

---

<article
  class="max-w-md mx-auto md:max-w-none grid md:grid-cols-2 gap-6 md:gap-8"
>
  <a class="relative block group" href={getLink(document.id, Astro.params.locale, 'posts')}>
    <Picture
      src={data.image}
      config={[{ sourceType: 'width', formats: ['avif','webp'], widths: [296, 344, 400, 448], sizes:"(min-width:768px) 344px, calc(min(100vw - 64px, 448px))", retina: true }]}
      class="w-full h-full object-cover mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700 aspect-video"
      alt={data.description}
    />
  </a>
  <div>
    <header>
      <h2 class="text-3xl sm:text-4xl font-bold leading-snug mb-2 font-heading">
        <a
          class="hover:text-primary-600 hover:underline underline-offset-4 decoration-1 transition ease-in duration-200"
          href={getLink(document.id, Astro.params.locale, 'posts')}
        >
          {data.title}
        </a>
      </h2>
    </header>
    <p class="text-lg sm:text-xl flex-grow">
      {data.excerpt || data.description}
    </p>
    <footer class="mt-4">
      <div>
        <span class="text-gray-500 dark:text-slate-400">
          <time datetime={data.pubDate}>{getFormattedDate(data.pubDate, Astro.params.locale)}</time>
        </span>
      </div>
      <div class="mt-4">
        <PostTags tags={data.tags} />
      </div>
    </footer>
  </div>
</article>
