---
import Picture from "~/components/core/Picture.astro";
import PostTags from "~/components/atoms/Tags.astro";

import { getFormattedDate } from "~/utils/utils";

const { data, document } = Astro.props;
---
<section class="py-8 sm:py-16 lg:py-20 mx-auto">
  <article>
    <header>
      <p class="max-w-3xl mx-auto text-center">
        {
          data?.pubDate && (
            <time datetime={data.pubDate}>
              {getFormattedDate(data.pubDate, Astro.params.locale)}
            </time>
          )
        }
      </p>
      <h1
        class="px-4 sm:px-6 max-w-3xl mx-auto text-center text-4xl md:text-5xl font-bold leading-tighter tracking-tight mb-8 font-heading"
      >
        {data.title}
      </h1>
      {
        data.image && (
          <Picture
            src={data.image}
            config={[{ sourceType: 'width', formats: ['avif','webp'], widths: [375, 475, 600, 768, 1024], sizes:"(min-width: 1536px) 1024px, min(100vw,768px)", retina: true }]}
            class="max-w-fullw w-full md:max-w-screen-md 2xl:md:max-w-screen-lg mx-auto mt-4 mb-6 md:rounded-md bg-gray-400 dark:bg-slate-700 aspect-video"
            alt={data.description}
          />
        )
      }
    </header>
    <div
      class="container mx-auto px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      <slot />
    </div>
    <div class="container mx-auto px-6 max-w-3xl mt-8">
      <PostTags tags={data.tags} />
    </div>
  </article>
</section>
