---
import { getCollection, render } from "astro:content";
import GithubSlugger from "github-slugger";
import FaqItem from "~/components/widgets/faq/Item.astro";
import { url } from "~/i18n";
import sorting from "~/content/faq/_defaultsorting.json";

const { title, buttonText, items } = Astro.props;
const slugger = new GithubSlugger();
const headingId = slugger.slug(title);

const entries = await getCollection(
  "faq",
  ({ data }) => data.locale === Astro.params.locale,
);

entries.sort((a, b) => {
  const aIndex = sorting.indexOf(a.data.translationId);
  const bIndex = sorting.indexOf(b.data.translationId);
  return aIndex - bIndex;
});

const faqEntries = await Promise.all(
  (items
    ? items.map((id) => entries.find(({ data }) => id === data.translationId))
    : entries
  ).map(async (entry) => ({
    data: entry.data,
    Content: (await render(entry)).Content,
  })),
);
---

<div
  class="px-4 py-16 mx-auto max-w-6xl lg:py-20"
  itemscope
  itemtype="https://schema.org/FAQPage"
>
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2
        id={headingId}
        itemprop="name"
        class="max-w-lg inline-block mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading"
      >
        <a href={"#" + headingId} class="anchor" aria-hidden="true"
          ><span>🔗</span></a
        >
        {title}
      </h2>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div
      class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2"
      itemprop="mainContentOfPage"
    >
      <slot />

      {
        faqEntries.map(({ data, Content }) => (
          <FaqItem question={data.title} id={data.translationId}>
            <Content />
          </FaqItem>
        ))
      }
    </div>
  </div>
  {
    buttonText && (
      <div class="mx-auto text-center my-12">
        <a class="btn secondary" href={url("faq", Astro.params.locale)}>
          {buttonText}
        </a>
      </div>
    )
  }
</div>
